@media(max-width:1920px) {
    body {
        overflow-x: hidden;
        scrollbar-width: 0%;
        color: #B5E2FA;
        margin: 0%;
        background-color: #F9F7F3;
        font-family: "Russo One", sans-serif;
    }
    a {
        font-family: "Russo One", sans-serif;
    }
    ._head {
        font-family: "Russo One", sans-serif;
        background-color: #EDDEA4;
        color: black;
        width: 100%;
        height: 13%;
        display: flex;
        margin-left: 0%;
    }
    .kontakt {
        margin-top: 3%;
        margin-left: 2%;
        align-items: center;
        width: 20%;
        height: 100%;
        display: block;
    }
    .KT {
        font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 350px) / 1180));
    }
    .messenger {
        margin-top: 2%;
        margin-left: 1%;
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
    .main-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 20%;

        font-size: calc(20px + (6 + 6 * 0.7) * ((100vw - 350px) / 1180));
    }
    .link {
        color: black;
        font-size: 23px;
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        list-style-type: none;
    }
    .menu-btn {
        width: 0%;
        height: 0%;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    .main-picture {
        padding-top: 6%;
        width: 100%;
        height: 800px;
    }
    .picture {
        width: 100%;
        height: 100%;
        background-image: url(picture/BUGATTI_Divo_2019_552153_1920x1080.jpg);
        background-size: cover;
    }
    .label {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }
    .oname {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        color: rgb(231, 54, 54);
        justify-content: center;
        align-items: center;
        font-size: 44px;
        width: 100%;
        height: 33%;
    }
    .spis {
        list-style: square;
        font-size: 22px;
        color: #EDDEA4;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    li {
        font-weight: 700;
        margin-bottom: 3%;
    }
    .btt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .bt1 {
        font-weight: 500;
        background-color: #EDDEA4;
        border-radius: 20%;
        width: 25%;
        height: 120%;
        border: 15px;
    }
    .bt1:hover {
        background-color: #EDDEA4;
        border-radius: 0%;
        width: 25%;
        height: 120%;
        border: 15px;
    }
    .avto {
        margin-top: 5%;
        font-size: 35px;
        display: flex;
        color: #EDDEA4;
        align-items: center;
        justify-content: center;
    }
    .kt {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        width: 100%;
        height: 600px;
        background-color: rgb(147, 155, 135);
    }
    .container {
        display: flex;
        margin-left: 5%;
        margin-top: 2%;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }
    .tel1 {
        width: 70%;
        height: 30%;
        font-size: 24px;
    }
    .adres {
        width: 70%;
        height: 30%;
        font-size: 20px;
    }
    .graf {
        width: 70%;
        height: 25%;
        font-size: 20px;
    }
    .cont-us {
        width: 70%;
        height: 15%;
        font-size: 20px;
    }
    .container2 {
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    label {
        font-size: 25px;
    }
    .name {
        width: 30%;
        height: 6%;
    }
    .name:hover {
        width: 30%;
        height: 6%;
        border-color: #EDDEA4;
    }
    .sname {
        width: 30%;
        height: 6%;
    }
    .sname:hover {
        width: 30%;
        height: 6%;
        border-color: rgb(147, 155, 135);
    }
    .tel {
        width: 30%;
        height: 6%;
    }
    .tel:hover {
        width: 30%;
        height: 6%;
        border-color: #EDDEA4;
    }
    .send {
        width: 31.5%;
        height: 7%;
    }
    .send:hover {
        background-color: rgb(147, 155, 135);
        border-radius: 15px;
        border-color: #EDDEA4;
    }
    .map {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        background-color: rgb(147, 155, 135);
        width: 100%;
        height: 800px;
    }
    .map1 {
        width: 90%;
        height: 100%;
    }
    .podval {
        margin-top: 5%;
        width: 100%;
        height: 270px;
        background-color: rgb(73, 74, 76);
    }
    .osn {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left {
        margin-left: 2%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    .tex {
        width: 50%;
        height: 80%;
    }
    h2 {
        color: #B5E2FA;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    h2:hover {
        color: #EDDEA4;
    }
    .grd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .Grodno {
        -webkit-text-stroke: 0.5px #EDDEA4;
        margin-top: 5%;
        font-size: 180%;
        font-weight: 500;
    }
    .text1 {
        margin-left: 7%;
    }
    .mes {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .right {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon1 {
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .icon2 {
        display: flex;
        height: 50%;
        width: 80%;
        margin-left: 10%;
        justify-content: space-between;
        align-items: center;
    }
    .element-animation {
        opacity: 0;
        transform: translateY(20px);
    }
    .element-animation.element-show {
        opacity: 1;
        transition: all 3s;
        transform: translateY(0%);
    }
}

@media(max-width:420px) {
    body {
        overflow-x: hidden;
        scrollbar-width: 0%;
        color: #B5E2FA;
        margin: 0%;
        background-color: #F9F7F3;
        font-family: "Russo One", sans-serif;
    }
    a {
        font-family: "Russo One", sans-serif;
    }
    ._head {
        font-family: "Russo One", sans-serif;
        background-color: #EDDEA4;
        color: black;
        width: 100%;
        height: 14%;
        display: flex;
        margin-left: 0%;
    }
    .kontakt {
        margin-top: 3%;
        margin-left: 2%;
        align-items: center;
        width: 25%;
        height: 100%;
        display: block;
    }
    .KT {
        font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 350px) / 1180));
    }
    .messenger {
        margin-top: 2%;
        margin-left: 1%;
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
    .main-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 27%;
    }
    .link {
        display: none;
        visibility: hidden;
        color: black;
        font-size: 5px;
        width: 29%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: black;
    }
    li {
        color: #EDDEA4;
    }
    .menu {
        color: black;
        position: fixed;
        width: 100%;
        height: 25%;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .menu.active {
        text-decoration: none;
        transform: translateX(0);
    }
    .menu li {
        list-style-type: none;
        text-decoration: none;
    }
    .menu-btn {
        width: 50px;
        height: 60px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    .main-picture {
        padding-top: 6%;
        width: 100%;
        height: 800px;
    }
    .picture {
        width: 100%;
        height: 100%;
        background-image: url(picture/BUGATTI_Divo_2019_552153_1920x1080.jpg);
        background-size: cover;
    }
    .label {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }
    .oname {
        font-family: "Russo One", sans-serif;
        display: flex;
        color: #EDDEA4;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        width: 100%;
        height: 33%;
    }
    .spis {
        list-style: square;
        font-size: 22px;
        color: #EDDEA4;
        font-family: "Russo One", sans-serif;
    }
    li {
        font-weight: 700;
        margin-bottom: 3%;
    }
    .btt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .bt1 {
        font-weight: 500;
        background-color: rgb(143, 75, 75);
        border-radius: 20%;
        width: 25%;
        height: 120%;
        border: 15px;
    }
    .bt1:hover {
        background-color: #EDDEA4;
        border-radius: 0%;
        width: 25%;
        height: 120%;
        border: 15px;
    }
    .avto {
        margin-top: 5%;
        font-size: 35px;
        display: flex;
        color: #EDDEA4;
        align-items: center;
        justify-content: center;
    }
    .kt {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        width: 100%;
        height: 300px;
        background-color: rgb(147, 155, 135);
    }
    .container {
        display: flex;
        margin-left: 5%;
        margin-top: 2%;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }
    .tel1 {
        width: 70%;
        height: 30%;
        font-size: 11px;
    }
    .adres {
        width: 70%;
        height: 30%;
        font-size: 11px;
    }
    .graf {
        width: 70%;
        margin-top: 7%;
        height: 25%;
        font-size: 10px;
    }
    .cont-us {
        width: 70%;
        height: 13%;
        font-size: 10px;
    }
    .container2 {
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    label {
        font-size: 16px;
    }
    .name {
        width: 30%;
        height: 6%;
    }
    .name:hover {
        width: 30%;
        height: 6%;
        border-color: #EDDEA4;
    }
    .sname {
        width: 30%;
        height: 6%;
    }
    .sname:hover {
        width: 30%;
        height: 6%;
        border-color: #EDDEA4;
    }
    .tel {
        width: 30%;
        height: 6%;
        font-size: 8px;
    }
    .tel:hover {
        width: 30%;
        height: 6%;
        border-color: #EDDEA4;
    }
    .send {
        font-size: 10px;
        width: 50%;
        height: 10%;
    }
    .send:hover {
        background-color: rgb(147, 155, 135);
        border-radius: 15px;
        border-color: #EDDEA4;
    }
    .map {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        background-color: rgb(147, 155, 135);
        width: 100%;
        height: 300px;
    }
    .map1 {
        width: 90%;
        height: 100%;
    }
    .podval {
        margin-top: 3%;
        width: 100%;
        height: 170px;
        background-color: rgb(73, 74, 76);
    }
    .osn {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left {
        margin-left: 2%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    .tex {
        width: 50%;
        height: 80%;
    }
    h2 {
        font-size: 17px;
        color: #B5E2FA;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    h2:hover {
        color: #EDDEA4;
    }
    .grd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .Grodno {
        font-size: 17px;
        -webkit-text-stroke: 0.5px #EDDEA4;
        margin-top: 5%;
        font-size: 180%;
        font-weight: 500;
    }
    .text1 {
        font-size: 8px;
        margin-left: 7%;
    }
    .yy {
        width: 80%;
        height: 80%;
    }
    .yyy {
        width: 70%;
        height: 70%;
    }
    .mes {
        margin-left: 1%;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .right {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon1 {
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .icon2 {
        display: flex;
        height: 50%;
        width: 80%;
        margin-left: 10%;
        justify-content: space-between;
        align-items: center;
    }
    .element-animation {
        opacity: 0;
        transform: translateY(20px);
    }
    .element-animation.element-show {
        opacity: 1;
        transition: all 3s;
        transform: translateY(0%);
    }
}